@model List<Model.ViewModel.ProductCategoryModel>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách sản phẩm
}

<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row mb-4 mt-5">
                <div class="col-lg-6">
                    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                    {
                        <div class="input-group">
                            <input type="text" placeholder="Search..." value="@ViewBag.SearchStringP" name="searchStringP" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-primary" style="float:right" href="/Admin/Product/Create">Thêm mới</a>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng danh sách sản phẩm</div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Loại sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh sản phẩm</th>
                                    <th style="width:23%">Mô tả</th>
                                    <th>Giá sản phẩm</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">


                                        <td>@item.CateName</td>
                                        <td>@item.Name</td>
                                        <td style="text-align:center !important;"><img src="@item.Image" width="100" /></td>
                                        <td>@item.Description</td>
                                        <td>@item.Price.GetValueOrDefault(0).ToString("N0")</td>
                                        <td>
                                            <i class="fas fa-edit mr-1"></i><a href="/Admin/Product/Edit/@item.ID">Sửa</a>
                                            |
                                            <i class="fas fa-trash mr-1"></i><a href="#"></a>
                                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                                            {
                                                Confirm = "Bạn có muốn xóa sản phẩm này?",
                                                OnComplete = "$('#row_" + @item.ID + "').remove()",
                                                HttpMethod = "Delete"
                                            })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchStringP = @ViewBag.SearchStringP })*@

                    </div>
                </div>
                <div class="ml-2">
                    @if (ViewBag.TotalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.MaxPage;
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = ((int)ViewBag.Page);

                        // Create numeric links
                        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                        var link = "/Admin/Product/";

                        <div class="pagination col-12">
                            @if (currentPage > ViewBag.First)
                            {
                                <a href="@link?page=@ViewBag.First" title="Trang đầu" class="first">&laquo;</a>

                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev">&lsaquo;</a>
                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (currentPage == i)
                                {

                                    <a href="@link?page=@i" class="active" title="Trang @i">@i</a>
                                }
                                else
                                {
                                    <a href="@link?page=@i" title="Trang @i" class="pos">@i</a>
                                }
                            }
                            @if (currentPage < totalPage)
                            {
                                <a href="@link?page=@ViewBag.Next" class="next" title="Trang sau">&rsaquo;</a>
                                <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối">&raquo;</a>
                            }
                        </div>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>

